## **EMAIL SPAM DETECTION**

In [1]:
import pandas as pd 

email_data = pd.read_csv(r'F:\internship\OASIS\dataset_oasis\spam.csv', encoding='ISO-8859-1')
email_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [2]:
email_data.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [3]:
email_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [18]:
email_data = email_data.rename(columns = {'v1':'label','v2':'mail'})
email_data['label'].replace({'ham': 1, 'spam': 0},inplace=True)
new_email_data = email_data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)
new_email_data.head()

   label                                               mail
0      1  Go until jurong point, crazy.. Available only ...
1      1                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3      1  U dun say so early hor... U c already then say...
4      1  Nah I don't think he goes to usf, he lives aro...

In [34]:
X = new_email_data['mail']
y = new_email_data['label']

from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.33, random_state=42)

In [44]:
print(train_X.shape)
print(test_X.shape)
print(train_y.shape)
print(test_y.shape)

(3733,)
(1839,)
(3733,)
(1839,)

In [65]:
# Vectorizing word to make prediction
from sklearn.feature_extraction.text import TfidfVectorizer

vector = TfidfVectorizer(analyzer='word', stop_words='english', min_df=1, lowercase=True)
vector.fit(train_X)
train_X_feature = vector.transform(train_X)
test_X_feature = vector.transform(test_X)

In [66]:
train_X_feature.shape

(3733, 6798)

*Model Building*

In [67]:
from sklearn.linear_model import LogisticRegression

email_model = LogisticRegression()

email_model.fit(train_X_feature, train_y)

prediction = email_model.predict(test_X_feature)

In [68]:
from sklearn.metrics import accuracy_score

print("Accuracy score: ", accuracy_score(test_y, prediction))

Accuracy score:  0.9521479064709081

*User prediction*

In [71]:

input_mails = {"Reminder: Company picnic this weekend","Congratulations! You've won a free trip to Hawaii. Click here to claim your prize."}

input_data_features = vector.transform(input_mails)

predictions = email_model.predict(input_data_features)

for i, prediction in enumerate(predictions):
    if prediction == 1:
        print(f"Input {i}: Ham mail")
    else:
        print(f"Input {i}: Spam mail")

Input 0: Ham mail
Input 1: Spam mail